@font-face {
  font-family: "Gilroy";
  src: local("./fonts/Gilroy Medium"), local("Gilroy-Medium"), url("./fonts/Gilroy-Medium.woff2") format("woff2"), url("./fonts/Gilroy-Medium.woff") format("woff"), url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("./fonts/Gilroy Bold"), local("Gilroy-Bold"), url("./fonts/Gilroy-Bold.woff2") format("woff2"), url("./fonts/Gilroy-Bold.woff") format("woff"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html, body {
  font-family: "Gilroy";
  font-size: 18px;
  color: #070707;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  text-align: center;
  font-weight: 700;
}

.header {
  margin-bottom: 40px;
}

.nav {
  border-bottom: 1px solid #828282;
  padding: 0;
}
.nav__list {
  margin-top: 35px;
  margin-bottom: 31px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: #828282;
  font-weight: 700;
}
.nav__link:hover, .nav__link:active {
  color: #070707;
}

.main__descrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 50px;
}
.main__title {
  margin: 0;
  font-size: 47px;
  font-weight: 700;
  width: 123px;
}
.main__text {
  font-weight: 500;
  font-size: 18px;
  width: 145px;
}
.main__links {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #828282;
}
.main__link--active {
  color: black;
}
.main__link:first-child::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}
.main__photo {
  margin-bottom: 104px;
}
.main__image {
  width: 100%;
}

.about {
  background-color: #f6f6f6;
  padding-bottom: 120px;
}
.about__title {
  padding-top: 12px;
}
.about__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  font-weight: 500;
}

.skills__title {
  padding-top: 9px;
  margin-bottom: 69px;
}
.skills__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 83px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}
.cards__image {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
}
.cards__title {
  width: 90px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  font-weight: 700;
  margin-bottom: 41px;
}
.cards__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio {
  background-color: #f6f6f6;
  padding-bottom: 56px;
}
.portfolio__title {
  padding-top: 112px;
  margin-bottom: 47px;
}
.portfolio__photo {
  width: 100%;
  margin-bottom: 44px;
}
.portfolio__link {
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  font-weight: 500;
  margin-bottom: 96px;
}

.footer__title {
  padding-top: 14px;
  margin-bottom: 20px;
}
.footer__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  font-weight: 500;
  margin-bottom: 29px;
}
.footer__btn {
  display: block;
  margin: 0 auto;
  width: 181px;
  height: 42px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 30px;
  margin-bottom: 79px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__btn:hover {
  color: #070707;
  background-color: white;
  border: 1px solid black;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 342px;
  width: 100%;
  margin-bottom: 45px;
}
.footer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 52px;
}/*# sourceMappingURL=style.css.map */